<app-sidebar></app-sidebar>
<div class="board">
    <div class="tasks">
    <img src="assets\img\bell (1) 1.png" class="bell-icon">
        
        <h1>Configuration des Rappels de Réunions</h1>
    </div>
    <form method="post" class="container">

        <div class="top">
          <div class="form-group">
            <label for="colab">Collaborateur</label>
            <div class="dropdown">
              <div class="box">
                <span>ex: Alexandre Dupont</span>
                <img src="assets\img\downward-arrow.png" alt="arrow" />
              </div>
              <div class="options">
                <div class="option">
                  <span>Alexandre Dupont</span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="sjt">Sujet</label>
            <input type="text" class="form-control" name="sjt" id="sjt" placeholder="ex: Suivi mensuel" />
          </div>
      
          <div class="aside-grid" style="margin-top: 40px; margin-left: 40px;">
          
           
            <div class="center-title2">
                <h2 style="color: #064E71 ; margin-left: 140px;">Personnalisé</h2>
              </div>

              <div class="form">
                <label class="label" for="collaborateur" p>Collaborateur:</label>
                <input class="input" type="text" id="collaborateur" name="collaborateur" placeholder="Alexandre Dupont">
              </div>
              
              <div class="form">
                <label class="label" for="sujet">Sujet:</label>
                <input class="input" type="text" id="sujet" name="sujet" placeholder="Suivi mensuel">
              </div>
            
           </div>
            
            <!-- Add more cards here -->
          </div>
      
        <div class="bottom" >
          <div class="form-group">
            <label for="commentInput" style="margin-left: 150px; margin-top: 0px;">Commentaire</label>
            <textarea class="form-control" name="comment" id="commentInput" cols="40" rows="8"></textarea>
          </div>
        </div>
      
      </form>
      
</div>