<app-sidebar></app-sidebar>
<div class="board">
    
        <div class="align-buttons px-5 mb-3">
        <div class="buttons-container">
          
          <img src="assets\img\bell (1) 1.png" class="bell-icon">
        </div>
        </div>
        <div class="text-center">
            <img src="assets\img\undraw_people_search_re_5rre 1.png" alt="login" class="img-fluid">
          </div>
          <p></p>
          <h1>Cherchez un collaborateur</h1>


          <button class="tasks">
            <input style="color: #717171; background-color: #F8F8F8; border: none;font-size: 20px;" class="px-2" placeholder="Rechercher...">
            <img src="assets\img\chercher 1.png" class="img" alt="search">
          </button>



    
</div>
