<app-sidebar></app-sidebar>>
<div class="board">


    <div class="align-buttons px-5 mb-3">
        <div class="buttons-container">
          <button class="tasks" >
            <input style="color: #717171; background-color: #F8F8F8; border: none;font-size: 20px;" class="px-2" placeholder="Rechercher...">
            <img src="assets\img\chercher 1.png" class="img" alt="search">
          </button>
          <img src="assets\img\bell (1) 1.png" class="bell-icon">
        </div>
      </div>
      <h1>
Etat de dossier
      </h1>

      <div class="card-container">
        <div class="small-card">
          <!-- Content of the smaller card goes here -->
          <h2 class="text text-center " style="color: #215974 !important;font-family: inter;" ><strong>DUPONT alexandere</strong></h2>
          
          <p><strong style="color:#FF6600">Titre:</strong> Stagiaire</p>
          <p><strong class="name">Département:</strong> Dev-Web</p>
          <p><strong class="name">Service Développement:</strong> Développement</p>
          <p><strong class="name">Manager:</strong> Oualed Moussa</p>
          <p><strong class="name">Date de rentree:</strong> 08/08/2023</p>


        </div>
      
        <div class="large-card">
          <!-- Content of the larger card goes here -->
          
         
          <div class="progress-bar">
            <img class="img1" src="assets\img\numero-1 (2) 2.png"  >
            <div class="line1"></div>
            <img class="img2" src="assets\img\numero-2 (1) 2.png"  >
            <div class="line"></div>
            <img class="img3" src="assets\img\numero-3 2.png"  >
            <div class="line"></div>
            <img class="img4" src="assets\img\numero-4 2.png"  >
            <div class="line"></div>
            <img class="img5" src="assets\img\numero-5 2.png"  >
            <div class="line"></div>
            <img class="img6" src="assets\img\corriger 1.png"  >
          </div>


  <div class="text-section">


          <div class="text-conatainer">
            <div class="line-container">
              <span class="check-icon"><i class="fas fa-check"></i></span>
              <h4 class="creation">Création du dossier collaborateur.</h4>
              </div>
              <p>Validation des documents légaux</p>
            </div>




           <div class="text-conatainer">
            <div class="line-container">
              <span class="check-icon"><i class="fas fa-check"></i></span>
              <h4 class="creation">Validation du manger.</h4>
              </div>
              <p>Validation du profil</p>
              <p> Validation du reporting</p>
              <p> Notification à tous les contributeurs du process</p>
            </div>


            <div class="text-conatainer">
              <div class="line-container">
                
                <h4 class="creation" style="margin-left: 100px;">Création du compte AD.</h4>
                </div>
                <p>Création du compte et envoie des emails</p>
                <p style="margin-left: 150px;">&#x2022; Bienvenue</p>
                <p style="margin-left: 150px;">&#x2022; Accès </p>
                <p style="margin-left: 150px;">&#x2022;Lien de référence</p>
                <p style="margin-left: 150px;">&#x2022; Sécurité</p>
              </div>
              <div class="text-conatainer">
                <div class="line-container">
                  
                  <h4 class="creation" style="margin-left: 100px;">Jour J arrivée.</h4>
                  </div>
                  <p style="margin-left: 150px;">Création du compte et envoie des emails</p>
                  <p style="margin-left: 150px;"> Accueil du manger</p>
                  <p style="margin-left: 150px;"> Présentation par les RH</p>
                  <p style="margin-left: 150px;"> Remise de matériel Test accès</p>
                </div>



                <div class="text-conatainer">
                  <div class="line-container">
                    
                    <h4 class="creation" style="margin-left: 100px;">Actions de suivi OnBoarding.</h4>
                    </div>
                    <p style="margin-left: 150px;">Test comptes ERP</p>
                    <p style="margin-left: 150px;"> Charte IT</p>
                    <p style="margin-left: 150px;"> Organigramme </p>
                    
                  </div>
                  <div class="text-conatainer">
                    <div class="line-container">
                      
                      <h4 class="creation" style="margin-left: 100px;color:#31A409 !important;">OnBoarding Complet .</h4>
                      </div>
                      
                      
                    </div>
              
            </div>



            
          
        </div>



      </div>
      
      

      
</div>