<app-sidebar></app-sidebar>
<div class="board">
    <div class="align-buttons px-5 mb-3">
        <div class="buttons-container">
          <button class="tasks">
            <input style="color: #717171; background-color: #F8F8F8; border: none;font-size: 20px;" class="px-2" placeholder="Rechercher...">
            <img src="assets\img\chercher 1.png" class="img" alt="search">
          </button>
          <img src="assets\img\bell (1) 1.png" class="bell-icon">
        </div>
      </div>
     
      
      
      <div class="grid-container">
        
        <div class="main-grid">
          <h1 class="grid-title">Réunions précédentes</h1>

          
          
          <div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div>
          <div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div><div class="card">
            <p class="mt-4" > <strong >03/08/2002</strong></p>
            <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
          </div>

          <!-- Add more cards here -->
        </div>
      
        
      

        <div class="aside-grid">
          
          <div class="card">
          <p class="mt-2" > <strong >03/08/2002</strong></p>
          <p class="mb-4"><strong style="color:#FF6600"> Objectif :</strong> Suivi mensuel </p>
        </div>
          
          <!-- Add more cards here -->
        </div>
      </div>
      
      
            
</div>