<app-sidebar></app-sidebar>
<div class="board">
    <div class="align-buttons px-5 mb-3">
        <div class="buttons-container">
          <button class="tasks">
            <input style="color: #717171; background-color: #F8F8F8; border: none;font-size: 20px;" class="px-2" placeholder="Rechercher...">
            <img src="assets\img\chercher 1.png" class="img" alt="search">
          </button>
          <img src="assets\img\bell (1) 1.png" class="bell-icon">
        </div>
      </div>
      <div><h1 style="margin-left: 600px;color: #064E71;">Suivi </h1></div>


<div class="top">
      <div class="form-group">
        <label class="label" for="collaborateur" p>Collaborateur</label>
        <input class="input" type="text" id="collaborateur" name="collaborateur" placeholder="Alexandre Dupont">
      </div>
      
      <div class="form-group">
        <label class="label" for="sujet">Sujet</label>
        <input class="input" type="text" id="sujet" name="sujet" placeholder="Suivi mensuel">
      </div>
      
      <div class="form-group">
        <label class="label" for="date">Date</label>
        <input class="input" type="text" id="date" name="date" placeholder="16/06/2023">
      </div>


    </div>

    <div class="down">
        <div style="margin-left: 100px; margin-top: 80px;">Note</div>
        <textarea class="textarea" placeholder="Indiquez vos notes, vos commentaires..."></textarea>
    </div>



</div>